.admin-main {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-bottom: 5rem;

    padding: 2rem 1rem;
    background-image: url("bg_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

.userlist {
margin-top: 5rem;
}

.userdetail {
margin-top: 5rem;
}